#-e hg+https://bitbucket.org/birkenfeld/sphinx#egg=sphinx
-e git+https://github.com/westurner/sphinxjp.themes.basicstrap#egg=sphinxjp.themes.basicstrap
-e git+https://github.com/davisp/ghp-import#egg=ghp-import
